
$colorgeo: #3f51b5;
$colorweb: rgba(152,70,242,1);
$colorart: #ff5b60;

$color-white: white;
$color-black: black;

$color-background-header-primary: rgb(6, 5, 12);
$color-background-header-secondary: rgba(0,0,0,.82);

$color-text-gray: #d9d9d9;

$color-secondary: #e8e8e8;