@import "../../layout/variables.scss";

.EmailListForm {
  color: rgba(0, 0, 0, 0.54);
  padding: 1rem 2rem 0.4rem 2rem;

  h2 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .Wrapper {
    display: flex;
    flex-direction: row;
  }

  input {
    color: rgba(0, 0, 0, 0.54);
    border: none;
    border: #e0e0e0 solid 1px;
  }

  button,
  input {
    padding: 1rem 1.5rem;
  }

  button {
    display: inline-block;
    
    border: none;
    background-image: none;
    background-color: #242729 ;
    color: white;

    letter-spacing: 1px;
    transition: all 0.1s linear;
    
    &:hover {
      cursor: pointer;
      background: darken(#242729, 5%);
    }    
  }
}
